<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>
    <h1>Przepisy kulinarne</h1>

        <nav>
            <ul>
            <!-- A -->
                <li>
                    <a href="{{ path('zurek') }}">Żurek</a>
                </li>
            
            <!-- B -->
                <li>
                    <a href="{{ path('aleklops') }}">Ale klops!</a>
                </li>
            
            <!-- C -->
            
            <!-- D -->
            
            <!-- E -->
            
            <!-- F -->
            
            <!-- G -->
            
            <!-- H -->
            
            <!-- I -->
            
            <!-- J -->
            
            <!-- K -->
            
            <!-- L -->
            
            <!-- M -->
            
            <!-- N -->
            </ul>
        </nav>




    {% block body %}{% endblock %}

    <footer>Version: 0.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
